body, html{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb{
    background-color: aliceblue;
    border:5px double rgb(0, 0, 0) ;
    font-size: 50px;
    padding: 5px 8px;
}
td{
    border:1px solid;
    border-radius: 5%;
    text-align: center;
    padding: 5px 8px;
}
